.button {
  padding: 8px;
  position: fixed;
  right: 10px;
  cursor: pointer;

  &:hover {
    .arrow {
      transition: 1s;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1200px) {
     .button {
          .arrow {
               width: 50px;
          }
     }
}

@media (max-width: 582px) {
  .button {
    .arrow {
      width: 30px;
    }
  }
}