.report_box {
  position: fixed;
  top: 55%;
  left: 50%;
  right: 20px;
  width: calc(100% - 60px);
  height: calc(85% - 40px);
  max-width: 944px;
  max-height: 645px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: var(--light-100);
  box-shadow: 0 15px 25px #0000001A;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;

  &.active {
    transition: 0.3s;
    transition-delay: 0.4s;
    opacity: 1;
    top: 55%;
    z-index: 102;
    margin-bottom: 0;
    pointer-events: all;
  }

  .cross {
    position: absolute;
    content: "";
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 37px;
    height: 35px;

    &::before {
      content: "";
      position: absolute;
      rotate: 45deg;
      width: 17px;
      height: 2px;
      top: 15px;
      background-color: var(--light-100);
    }

    &::after {
      content: '';
      position: absolute;
      rotate: -45deg;
      width: 17px;
      height: 2px;
      top: 15px;
      background-color: var(--light-100);
    }

    &:hover::before,
    &:hover::after {
      background-color: var(--dark-200);
    }
  }

  .title_form {
    font-size: 33px;
    font-weight: 600;
    line-height: 56.1px;
    text-align: center;
  }

  .report_btn {
    width: 100%;
    max-width: 1248px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 30.6px;
    background-color: #275CD4;
    color: var(--light-100);
    white-space: nowrap;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #415FF3;
    }
  }
}
