.btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-align: center;
    white-space: nowrap;
    height: 65px;
    border: 3px solid var(--light-100);
    padding: 0 22px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    @media (max-height: 800px) {
        & {
            font-size: 16px;
            height: 55px;
        }
    }

    @media (max-height: 600px) {
        & {
            font-size: 16px;
            height: 45px;
        }
    }
}

.active {
    background-color: var(--light-100);
    color: var(--primary-200);

    &:hover {
        color: var(--light-100);
        background-color: var(--primary-200);
        border-color: var(--primary-200);
    }
}

.primary {
    background-color: var(--primary-200);
    color: var(--light-100);
    border-color: var(--primary-200);

    &:hover {
        color: var(--primary-200);
        background-color: var(--light-100);
        border-color: var(--light-100);
    }
}

.primary2 {
    background-color: var(--primary-200);
    color: var(--light-100);
    border-color: var(--primary-200);

    &:hover {
        color: var(--primary-200);
        background-color: var(--light-100);
        border-color: var(--primary-200);
    }
}

.pure {
    background-color: rgba(255, 255, 255, 0);
    color: var(--light-100);

    &:hover {
        border-color: var(--primary-200);
    }
}