.car_services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1248px;
  row-gap: 20px;
}

.car_service {
  display: flex;
  flex-direction: row;
  width: 340px;
}

.car_services_icon {
  cursor: pointer;
  fill: none;
  min-width: 21px;
  margin-top: 9px;
}

.car_service_text {
  cursor: pointer;
  padding-left: 12px;

  h3 {
    font-weight: 500;
    font-size: 16px;
    color: #363636;
  }

  h5 {
    font-weight: 400;
    font-size: 12px;
    color: #949494;
  }

  &:hover {
    h3, h5 {
      color: var(--primary-200);
    }
  }
}

.car_services_icon:hover + .car_service_text h3,
.car_services_icon:hover + .car_service_text h5 {
  color: var(--primary-200);
}