.login_box {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0 0 0);
    box-shadow: 0 15px 25px rgb(0 0 0 / 62%);
    border-radius: 10px;
    opacity: 0;
    margin-bottom: 20px;
    pointer-events: none;
}

.login_box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--light-100);
    text-align: center;
}

.login_box .user_box {
    position: relative;
}

.login_box .user_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--light-100);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--light-100);
    outline: none;
    background: transparent;
}

.login_box .user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--light-100);
    pointer-events: none;
    transition: .5s;
}

.login_box .user_box input:focus~label,
.login_box .user_box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--primary-login-box);
    font-size: 12px;
}

.login_box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-login-box)4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
}

.login_box button:hover {
    background: var(--primary-login-box);
    color: var(--light-100);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--primary-login-box),
        0 0 25px var(--primary-login-box),
        0 0 50px var(--primary-login-box),
        0 0 100px var(--primary-login-box);
}

.login_box button span {
    position: absolute;
    display: block;
}

.login_box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--primary-login-box));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login_box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-login-box));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login_box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--primary-login-box));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login_box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-login-box));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #9c929200;
    transition: 0.3s;
    display: flex;
    pointer-events: none;
}

.modal.active {
    pointer-events: all;
    transition: 0.3s;
    background-color: #ffffff61;
}

.login_box.active {
    transition: 0.3s;
    transition-delay: 0.4s;
    opacity: 1;
    top: 50%;
    z-index: 102;
    margin-bottom: 0px;
    pointer-events: all;
}

.modal-img {
    transition: 0.4s;
    pointer-events: none;
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.modal-img.active {
    top: 0;
    transition: 0.4s;
    transition-delay: 0.3s;
}