.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #9c929200;
    transition: 0.3s;
    display: flex;
    pointer-events: none;

    span {
        width: calc((100vw - 360px)/(1500 - 360) * (400 - 200) + 200px);
        height: 3px;
        background-color: var(--primary-200);
    }
}

.modal.active {
    pointer-events: all;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.49);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media (max-width: 1560px) {
    .modal.active {
        background-color: var(--dark-900);
    }
}
