.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #9c929200;
    transition: 0.3s;
    display: flex;
    pointer-events: none;
}

.modal.active {
    pointer-events: all;
    transition: 0.3s;
    background-color: #0000004D;
}
