.about_us {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.about_us h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    max-width: 420px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 20px 0;
    margin-left: -2px;
}

.pictures_about {
    position: relative;
}

.about_us_img1 {
    width: 531px;
    height: 667px;
    top: 121px;
    left: 348px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}

.about_us_img2 {
    width: 401px;
    height: 278px;
    top: 438px;
    left: 619px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 12px 0px 0px 0px;
    opacity: 0px;
    position: absolute;
    top: 45%;
    left: 50%;
}

.text_info {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-bottom: 0;
    margin-top: 75px;
}

.blue_text {
    color: #2661E9;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.77px;
    letter-spacing: -0.04em;
    text-align: left;
    display: flex;
    align-items: center;
}

.blue_text p {
    margin: 0;
}

.blue_text div {
    margin-left: 15px;
    width: 116px;
    height: 2px;
    top: 192px;
    left: 1382px;
    gap: 0;
    opacity: 0;
    background-color: #2661E9;

}

.block_about h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    color: rgba(123, 133, 155, 0.85);
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 55px;
}

.block_about ul {
    padding: 0;
}

.block_about ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.8px;
    text-align: left;
    margin: 10px 0;
    list-style-type: none;
}

.block_about ul li span {
    margin-right: 15px;
}