.carPage {
  width: 823px;
  overflow: hidden;
  position: relative;

  .img {
    width: 100%;
    height: auto;
  }

  .thumbnails {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .thumbnail {
    cursor: pointer;
    width: 155px;
    height: 112px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid transparent;
    transition: border 0.3s;

    &:hover {
      border: 2px solid var(--primary-200);
    }
  }

  .controls {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 19px;
    width: 100%;
    transform: translateY(-50%);

    .arrow {
      cursor: pointer;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: #E9F1FD;
      transition: color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        stroke: #6F7FA8;
      }

      &:hover {
        background-color: var(--primary-200);

        svg {
          stroke: #E9F1FD;
        }
      }
    }

    .arrow_left {
      svg {
        transform: translateX(-1px);
      }
    }

    .arrow_right {
      svg {
        transform: translateX(1px);
      }
    }
  }
}
