.contact_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: url('./../../../../../public/img/background_car.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: -1;
  }
}

.contact {
  width: 1247px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 38px;
  margin: 132px 0 98px 0;
}

.blue_text {
  color: var(--primary-200);
  font-size: 17px;
  font-weight: 600;
  line-height: 20.77px;
  letter-spacing: -0.04em;
  text-align: left;
  display: flex;
  align-items: center;

  div {
    margin-left: 15px;
    width: 116px;
    height: 2px;
    top: 192px;
    left: 1382px;
    background-color: var(--primary-200);
  }

  p {
    margin: 0;
  }
}

.contact_container {
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    max-width: 552px;
    font-size: 45px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--light-100);
    margin-top: 12px;
  }

  h4 {
    max-width: 552px;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    margin: 21px 0 37px 0;
    color: #DDDDDDD9;
  }
}

.contact_us_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
  padding: 137px 0 50px 0;
  border-bottom: 1px solid #D9D9D9;
}

.phone {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--primary-200);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 43px;
    height: 43px;
  }
}

.contact_info {
  display: flex;
  flex-direction: column;
  gap: 13px;

  p {
    font-size: 25px;
    font-weight: 500;
    line-height: 42.5px;
    text-align: left;
    color: var(--dark-700);
    white-space: nowrap;
  }

  a {
    font-size: 17px;
    font-weight: 500;
    line-height: 20.72px;
    letter-spacing: 0.07em;
    text-align: left;
    text-decoration: none;
    color: var(--dark-300);
    white-space: nowrap;
  }
}

.contact_btn {
  width: 232px;
  height: 54px;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  border: none;
  border-radius: 0;
}

@media (max-width: 1297px) {
  .contact_wrapper {
    padding: 0 56px;

      &::before {
        height: 36%;
      }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 94px 0 72px 0;
  }

  .contact_container {
    max-width: 504px;

    h3 {
      font-size: 41px;
      font-weight: 700;
      line-height: 52.48px;
    }

    h4 {
      margin: 33px 0 68px 0;
    }
  }

  .contact_us_block {
    padding: 110px 0 49px 0;
  }

  .contact_btn {
    width: 322px;
    height: 74px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.04px;
  }
}

@media (max-width: 580px) {
  .contact_wrapper {
    padding: 0 20px;

      &::before {
        height: 37%;
      }
  }

  .contact_container {
    max-width: 100%;

    h3 {
      max-width: 100%;
      font-size: 41px;
      font-weight: 700;
      line-height: 52.48px;
    }

    h4 {
      max-width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }

  .phone {
    width: 54px;
    height: 54px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .contact_us_block {
    gap: 10px;
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    gap: 0;

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
    }

    a {
      font-size: 16px;
    }
  }

  .contact_btn {
    width: 232px;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    line-height: 19.2px;
  }
}

@media (max-width: 500px) {
  .contact_wrapper {
    &::before {
      height: 39%;
    }
  }
}