.car_box_text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 50px 0;
}

.car_box_text h4 {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.77px;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--primary-200);
    margin: 0;
}

.car_box_text h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    color: var(--primary-800);
    margin: 10px 0;
}

.car_box_text h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    text-align: center;
    color: var(--dark-100);
    margin: 0;
    max-width: 850px;
}

.content2 {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border: 1px solid var(--light-400);
    margin: 30px;
}

.car_img_card {
    position: relative;
    width: 100%;
    height: 292px;
    overflow: hidden;
}

.car_img_card img {
    width: 100%;
    transition: all ease 1.5s;
}

.cards_cars {
    display: flex;
    justify-content: center;
}

.condition {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 64px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.88px;
    letter-spacing: -0.04em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    &.new {
        background-color: var(--condition-new);
        color: var(--light-100);
    }

    &.pre_owned {
        background-color: var(--condition-pre-owned);
        color: var(--light-100);
    }
}

.engine {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 55px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.88px;
    letter-spacing: -0.04em;
    text-align: left;
    background: var(--primary-200);
    color: var(--light-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost {
    font-size: 25px;
    font-weight: 600;
    line-height: 30.55px;
    letter-spacing: -0.04em;
    text-align: left;
    text-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 14px;
    left: 14px;
    color: var(--light-100);
}

.info_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.brand_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 5px 20px;
}

.brand_box div {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.88px;
    letter-spacing: -0.04em;
    text-align: left;
    display: flex;
    align-items: center;
}


.brand_box img {
    width: 34px;
}

.description {
    font-size: 15px;
    font-weight: 500;
    line-height: 25.5px;
    text-align: left;
    color: var(--dark-100);
    margin: 0 20px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.space_line {
    width: 90%;
    height: 1px;
    background: var(--light-400);
    margin: 20px auto;
}

.data_box {
    display: flex;
    flex-direction: row;
    margin: 0 20px 25px 20px;
}

.data_box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    margin-right: 25px;
    color: var(--dark-100);

}

.data_box div svg {
    margin-right: 7px;
}

.container2 {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards_cars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2:hover {
    cursor: pointer;
}

.content2:hover>.car_img_card>img {
    transform: scale(1.1);
    transition: all ease 1.5s;
}